/* Reset browser default styles */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "lato", sans-serif;
    font-weight:400;
    font-size:16px;
    line-height:1.7;
    color: #777;
    padding:30px;
}

/* header styles start */

.header{
    position: relative;
    height:95vh;
    background-image: linear-gradient(to right bottom, #f3f17760,#ffbf0038 ) , url(../img/header.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box{
    position: absolute;
    top:40px;
    left:40px;
}

.header__logo{
    height:100px;
}

.header__text-box{
    position: absolute;
    top:40%;
    left:40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: rgb(94, 39, 3);
    background: rgba(255, 255, 255, 0.35);
    padding: 5px 15px;
    border-radius: 5px;
    animation-name: fadeIn;
    animation-duration: 2s;
    margin-bottom: 60px;

}

.heading-primary-main{
    font-family: 'MedievalSharp', cursive;
    display: block;
    font-size: 50px;
    letter-spacing: 5px;

}

.heading-primary-sub{
    display: block;
    font-size: 26px;
    font-weight: 700;
    word-spacing: 8px;
    letter-spacing: 10px;
}

.btn:link,
.btn:visited{
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
    transition:all .2s;
}

.btn:hover{
    transform:translateY(-3px);
    background-color: goldenrod;
    color: #fff;
    font-weight: bolder;
    box-shadow: 0 10px 20px rgba(255,255,255,.6);
}

.btn:active{
    transform:translateY(-1px);
    box-shadow: 0 5px 10px rgba(255,255,255,.3);
}

.btn-white{
    background-color: aliceblue;
    color: darkslategrey;
}

.btn-animated{
    animation: moveInBtn .5s ease-out .75s;
    animation-fill-mode: backwards;

}

.main-nav{
    border-top: 1px solid black;
    display: inline-block;
    position: absolute;
    top:5px;
    right:30px;
}

.main-nav li{
    display: inline-block;
}

.nav-link {
    font-size:25px;
    line-height:1.7;
    color:aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 20px;
    position: relative;
    opacity: 0.75;
  }

  .nav-link-selected {
      color: #FFFF33;
  }
  
  .nav-link:hover {
    opacity: 1;
    color: rgb(94, 39, 3);
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #f3f17760;
  }

  .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }

@keyframes fadeIn{
    0%{
        opacity:0%;
        transform: translateY(-200px);
    }

    100%{
        opacity:1;
        transform: translateY(0px);
    }
}

@keyframes moveInBtn{
    0%{
        opacity:0%;
        transform: translateY(30px);
    }

    100%{
        opacity:1;
        transform: translateY(0px);
    }
}




/* header styles end */

area{
    border:2px solid red;
}